section{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #fee8e8;
    text-transform: capitalize;
    transition: 2s linear;
   
}
.heading{
    
    margin-top: 10rem;
}

html{
font-size: 62.5%;
scroll-behavior: smooth;
scroll-padding-top: 6rem;
overflow-x: hidden;
}

.hero{
    background-color: #ffffff;
    overflow: hidden;
}
.heading h1{
    color: rgb(255, 143, 162);
    font-size: 50px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 65px auto;
    margin-top: -2px;
}
.hero-content{
    flex: 1;
    width: 600px;
    margin: 0px 25px;
    animation: fadeInUp 2s ease;
}
.hero-content h2{
    font-size: 38px;
    margin-bottom: 20px;
    color: #333;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
   font-weight: bolder;

}
.hero-content p{
    font-size: 25px;
    line-height: 1.9;
    margin-bottom: 40px;
    color: #702d41;
    font-style: italic;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    


}
.hero-content button{
    display: inline-block;
    background-color: rgb(39, 36, 36);
    padding: 11px 18px;
    border-radius: 30px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    transition: 0.9s ease;
    color: rgb(255, 143, 162);

}
.hero-content button:hover{
    background-color:  rgb(255, 143, 162);
    color: black;
    transform: scale(1.1);

}

.hero-image{
flex: 1;
width: 600px;
margin: auto;
animation: fadeInRight 2s ease;
}
img{
width: 650px;
height: 500px;
margin-left: 15px;
border-radius: 20px;

}
.media i{
font-size: 20px;
color: #f72978e4;
padding: 0px 10px;
margin-top: 20px;
}
.media i:hover{
color: black;

}
@media screen and (max-width:768px){
.heading h1{
    font-size: 45px;
    margin-top: px;
}
.hero{
    margin: 0px;
}
.container{
    width: 100%;
    flex-direction: column;
    margin: 0px;
    padding: 0px 40px;
}
.hero-content{
    width: 100%;
    margin: 35px 0px;
}

.hero-content h2{
    font-size: 30px;

}
.hero-content p{
    font-size: 18px;
    margin-bottom: 20px;
}

.hero-content button{
    font-size: 16px;
    padding: 8px 16px;
    text-align: center;
}

.hero-image{
width: 100%;

}   
.media i{
text-align: center;
}
}

@keyframes fadeInUp{
0%{
    opacity: 1;
    transform: translateY(50px);
}
100%{
    opacity: 0;
    transform: translateY(0px);
}
}


@keyframes fadeInRight{
0%{
    opacity: 0;
    transform: translateY(-50px);
}
100%{
    opacity: 1;
    transform: translateX(0px);
}
}

