.container2 {
    text-align: center;
    margin-top: 100px;
}

.success-box {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px 40px;
    max-width: 400px;
    margin: auto;
}

.success-box h1 {
    color: palevioletred;
    font-size: 2em;
}

.success-box p {
    color: #555;
    font-size: 1.2em;
    margin: 20px 0;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color:rgb(213, 40, 98);
    color: white;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: rgb(255, 165, 195);
}