 :root{
    --pink:#e84393;
}
*{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
    text-decoration: none;
    
   
    
}
.rows {
    margin-top: 10rem;
    background: white;
    animation: fadeInUp 1s ease;
   
}

.rows .row1{
    background-color:#ffffff;
    text-align: center;
    font-size:2rem;
    padding-top: -6px;
    margin-left: 29rem;
    

}
.rows .row1 h1{
    color: #e84393;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 9rem;
}
.rows .row1 h1 span{
    color: black;
}

.rows .row2{
    text-align: center;
    font-size: 1.5rem;
    background:#fee8e8;
    margin-top: 3rem;
    width: 80%;
    margin-left: 30rem;
    font-weight: bolder;
    border-radius: 8rem;
    box-shadow: 0 4px 8px rgba(250, 117, 161, 0.936);
   
}

.rows .row2 h1{
    color: #e84393;
    font-size: 1.5rem;
    padding-top: 2rem;
    margin-bottom: 2rem;
}

.rows .row2 h1 span{
    color: black;
    font-size: 1.5rem;
}

.form-control {
    width: 40%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--pink);
    border-radius: 9px;
    
}
.btn-primary {
    background-color: #5cb85c;
    border-color: #4cae4c;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}


.rows{
    
    justify-content: space-between;

    width: 700px;
    margin-left: 400px;
    border-radius: 20px;
    margin-top: 100px;
    
}



@keyframes fadeInUp{
    0%{
        opacity: 1;
        transform: translateY(50px);
    }
    100%{
        opacity: 0;
        transform: translateY(0px);
    }
}


@keyframes fadeInRight{
    0%{
        opacity: 0;
        transform: translateY(-50px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}
