h1{
    text-align: center;
    color: rgb(255, 110, 158);
    margin-top: 4rem;
    font-size: 3.5rem;
    font-weight: bolder;
}
span{
    color: black;
}

.image{
    width: 30rem;
    height: 25rem;
    margin-left: -2rem;
    margin-top: -1.9rem;
    border-radius: 2rem;
    box-shadow: .2rem .2rem 1rem rgb(254, 220, 220);
    
}


.input{
    border: 2px solid #f63b89;
    width: 150px;
    font-weight: bolder;
    height: 50px;
    font-size: 17px;
    border-radius: 30px;
    cursor: pointer;
    background-color: #ffc7dc;
    color: rgb(0, 0, 0);
    margin-top: 15px;
}
.input :hover{
    background-color:  rgb(255, 143, 162);
    color: black;
    transform: scale(1.1);

}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    box-shadow: .2rem .2rem 1rem rgb(254, 220, 220);
}


.menu-item {
    border-radius: 2rem;
    box-shadow: 0 2px 4px rgb(254, 37, 139);
    margin: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
    background-color: pink;

}

.menu-item h2 {
    margin: 2px 0 10px;
    color: #7b4466;
    font-size: 1.6rem;
}

.menu-item p {
    margin: 5px 0;
    color: #ffffff;
    font-size: 1.7rem;
}