body {
    font-family: Arial, sans-serif;
    background-color: #fef6f6;
    margin: 0;
    padding: 0;
}

.container {
    width: 40%;
    margin: 0 auto;
    padding: 20px;
    background-color:rgb(252, 226, 231);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(244, 82, 166, 0.929);
    margin-top: 15rem;
}

h1 {
    text-align: center;
    color: #333;
    font-size: 3rem;
}

form {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    font-weight: bold;
   
}

form input,
form button {
    padding: 10px;
    margin-bottom: 10px;
    border: 1.3px solid #e32b78;
    border-radius: 5px;
    margin-top: 1.5rem;
   
}

form button {
    background-color:rgb(236, 121, 157);
    color: white;
    cursor: pointer;
    width: 13rem;
    font-size: 2rem;
    border-radius: 10rem;
    margin-left: 5rem;
    margin-top: 2rem;
}

form button:hover {
    background-color: #218838;
}

a {
    text-decoration: none;
    color: #ff467d;
    padding: 5px 5px;
    font-size: 2rem;
    margin-top: 5px;
    margin-left: 4px;
}

a:hover {
    color: black;
}

ul {
    list-style: none;
    padding: 2px 2rem;
    font-size: 1.7rem;
    color: #5a5959;
    margin-top: 7px;
    
   
}

ul li {
    padding: 10px;
    border-bottom: 1px solid #ff3686;
    
}

ul li:last-child {
    border-bottom: none;
}

ul li a {
    margin-right: 10px;
}